.login-page {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 70px auto 70px auto;
}

.login-page__logo {
    width: 38px;
    height: 38px;
    margin: 0px 0px 40px 0px;
}

.login-page__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0px 0px 38px 0px;
}

.login-page__form {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 16px 0px;
}

.login-page__submit-button {
    color: #fff;
    background: #3456F3;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    width: 396px;
    height: 45px;
    transition: .5s;
}

.login-page__submit-button_disabled {
    background-color: #fff;
    color: #000;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    opacity: .2;
}

.login-page__submit-button:hover {
    transition: .3s;
    opacity: 0.8;
    cursor: pointer;
}

.login-page__submit-button_disabled:hover {
    opacity: .2;
    cursor: default;
}

.login-page__submit-button_auth {
    margin: 10px 0px 0px 0px;
}

.login-page__field {
    width: 390px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: #E8E8E8 1px solid;
    padding: 2px 0px 6px 0px;
}

.login-page__field-error {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FF3055;
    margin: 0;
}

.login-page__field:focus {
    outline: 0;
    background-color: #E8E8E8;
    border-radius: 10px;

}

.login-page__input {
    width: 396px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin: 0px 0px 24px 0px;
    padding: 0px 0px 0px 0px;
}

.login-page__basement {
    max-width: 396px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
    margin: 0px 6px 0px 0px;
}

.login-page__question {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #3456F3;
    transition: .3s;
}

.login-page__question:hover {
    transition: .3s;
    opacity: .7;
    cursor: pointer;
}

.login-page__container {
    margin: 185px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1160px) {
    .login-page {
        margin: 230px auto 70px auto;
    }
}

@media screen and (max-width: 767px) {
    .login-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 56px auto 96px auto;
    }

    .login-page__form {
        justify-content: space-between;
        height: 465px;
    }

    .login-page__submit-button {
        width: 260px;
    }

    .login-page__container {
        margin: 207px 0px 0px 0px;
    }

    .login-page__input {
        width: 260px;
    }

    .login-page__field {
        width: 260px;
    }

    .login-page__text {
        font-size: 12px;
        line-height: 15px;
    }

    .login-page__logo {
        margin: 0px 0px 50px 0px;
    }

    .login-page__title {
        margin: 0px 0px 79px 0px;
    }

    .login-page__question {
        font-size: 12px;
        line-height: 15px;
    }
}