.header {
    display: flex;
    max-height: 74px;
    padding: 18px 70px 18px 70px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.header__logo {
    width: 38px;
    height: 38px;
    margin: 0px 0px 13px 0px;
}

.header__logo-link {
    margin: 0;
    padding: 0;
    transition: .3s;
}

.header__logo-link:hover {
    transition: .3s;
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 18px 22px 18px 30px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 18px 14px 18px 14px;
    }
}