.about-project {
    margin: 0px auto 0px auto;
}

.about-project__description {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.about-project__description-stage {
    margin: 70px 0px 0px 0px;
}

.about-project__stage-title {
    margin: 0px 30px 0px 0px;
    max-width: 550px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #000000;
}

.about-project__stage-subtitle {
    max-width: 500px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 26px 76px 15px 0px;
}

.about-project__schedule {
    margin: 96px auto 94px auto;
    display: grid;
    grid-template-columns: 228px 912px;
    grid-template-rows: auto auto;
}

.about-project__stage {
    margin: 0px 0px 0px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
}

.about-project__stage_green {
    background-color: #2BE080;
    margin: 0px 0px 5px 0px;
}

.about-project__stage_gray {
    margin: 0px 0px 5px 0px;
    background-color: #F2F2F2;
    
}

@media screen and (max-width: 1164px) {
    .about-project {
        margin: 0px 50px 0px 50px;
    }
    
    .about-project__stage-subtitle {
        font-size: 12px;
        line-height: 18px;
        max-width: 319px;
        margin: 22px 0px 0px 0px;
    }

    .about-project__schedule {
        grid-template-columns: 140px auto;
        margin: 93px 0px 82px 0px;
    }

    .about-project__stage-title {
        max-width: 319px;
    }
}

@media screen and (max-width: 767px) {

    .about-project {
        margin: 0px 17px 0px 17px;
    }

    .about-project__description {
        flex-direction: column;
    }

    .about-project__stage-title {
        font-size: 18px;
        line-height: 22px;
        max-width: 284px;
        margin: 0px 0px 0px 0px;
    }

    .about-project__stage-subtitle {
        font-size: 11px;
        line-height: 16px;
        max-width: 284px;
        margin: 15px 0px 0px 0px;
    }

    .about-project__schedule {
        grid-template-columns: 100px auto;
        margin: 60px 0px 57px 0px;
    }

    .about-project__description-stage {
        margin: 60px 0px 0px 0px;
    }

    .about-project__stage {
        font-size: 11px;
        line-height: 13px;
    }

}